/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

body{
	margin: 0;
}
h1{
	text-align: center;
}
.profil{
	border: 1px solid grey;
	border-radius: 5px;
	padding: 15px;
	margin: 10px;
	text-align: center;
	box-shadow: 0 3px 10px #a9a8a8;
}
.profil img{
	border-radius: 50%;
}

@media screen and (min-width: 700px) {
	.container{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin: 10px;
	}
	.profil{
		flex: 1 1 calc(50% - 10px);
		margin: 0;
		text-align: left;
		display: flex;
	}
	.profil img {
		margin-right: 15px;
		width: 100px;
	}
}
@media screen and (min-width: 960px) {
	.container{
		flex-wrap: nowrap;
		margin: 15px;
		gap: 15px;
	}
	.profil{
		flex: 1 1 25%;
		flex-direction: column;
		text-align: center;
	}
	.profil img {
		width: 128px;
	}
}
